<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/media.css">
  <title>Digitalstore</title>
</head>

<body>
  <!-- header start -->
  <header>
    <div class="nav__header">
      <div class="container">
        <div class="nav_info">
          <div class="nav_left">
            <div class="languege">
              <select name="brend" class="filter_lang">
                <option value="Samsung"><a href="" class="lang">Ру</a></option>
                <option value="Apple"><a href="" class="lang">En</a></option>
              </select>
            </div>
            <div class="city">
              <select name="brend" class="filter_city">
                <option value="Samsung"><a href="" class="lang">Ташкент</a></option>
                <option value="Apple"><a href="" class="lang">Самарканд</a></option>
              </select>
            </div>

          </div>
          <div class="nav_right">
            <a href="">Вход</a>
            <a href="">Регистрация</a>

          </div>
        </div>
      </div>
    </div>

    <nav>
      <div class="nav_menu_icon container">
        <div class="nav__top">
          <a href="" class="logo">
            <img src="../image/logo/logo store 2.svg" alt="">
          </a>
          <form action="" method="get" enctype="multipart/form-data">
            <label for="s" class="label_search">
              <input id="s" type="text" placeholder="Поиск по товарам" class="serch_in">
              <button type="submit"><img class="icon_serch" src="../image/icons/Vector.svg" alt=""></button>
            </label>
          </form>
          <div class="nav_icon">
            <ul class="icon">
              <li><a href="#" class="click_icon"><img src="../image/icon_header/Group 524.svg" alt=""></a></li>
              <li><a href="#" class="click_icon"><img src="../image/icon_header/bi_cart3 (1).svg" alt=""></a></li>
              <li><a href="#" class="click_icon"><img src="../image/icon_header/Group 522 (1).svg" alt=""></a></li>
              <li class="dropdown">
                <a href="#!" class="category_burger"><img src="../image/icons/burger.svg" alt="">
                </a>
                <div class="dropdown-content">
                  <ul class="list_burger">
                    <li class="burger_list"><a href=""><img src="../image/icon_burger/washing.svg" alt=""> <span
                          class="burger_text">Техника для дома</span></a></li>
                    <li class="burger_list"><a href=""><img src="../image/icon_burger/printer.svg" alt=""> <span
                          class="burger_text">Офисная техника</span></a></li>
                    <li class="burger_list"><a href=""><img src="../image/icon_burger/condition.svg" alt=""> <span
                          class="burger_text">Климатическая техника</span></a></li>
                    <li class="burger_list"><a href=""><img src="../image/icon_burger/tv.svg" alt=""> <span
                          class="burger_text">Телевизоры</span></a></li>
                    <li class="burger_list"><a href=""><img src="../image/icon_burger/phone.svg" alt=""> <span
                          class="burger_text">Телефоны и гаджеты</span></a></li>
                    <li class="burger_list"><a href=""><img src="../image/icon_burger/komputer.svg" alt=""> <span
                          class="burger_text">Компьтеры и ноутбуки</span></a></li>
                    <li class="burger_list"><a href=""><img src="../image/icon_burger/photo.svg" alt=""> <span
                          class="burger_text">Фото и видео</span></a></li>
                    <li class="burger_list"><a href=""><img src="../image/icon_burger/fan.svg" alt=""> <span
                          class="burger_text">Красота и здоровье</span></a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>

        </div>


      </div>

    </nav>



    <div class="header_nav_menu">
      <div class="container">
        <div class="nav__menu">
          <ul class="nav__category">
            <li><a href="" class="category"><img src="../image/icons/phone.svg" alt="">
                <p class="cat_text">Смартфоны</p>
              </a></li>
            <li><a href="" class="category"><img src="../image/icons/book.svg" alt="">
                <p class="cat_text">Ноутбуки</p>
              </a></li>
            <li><a href="" class="category"><img src="../image/icons/tv.svg" alt="">
                <p class="cat_text">Телевизоры</p>
              </a></li>
            <li><a href="" class="category"><img src="../image/icons/condition.svg" alt="">
                <p class="cat_text">Кондиционеры</p>
              </a></li>
            <li><a href="" class="category"><img src="../image/icons/refrigerator.svg" alt="">
                <p class="cat_text">Холодильники</p>
              </a></li>
          </ul>


        </div>


      </div>

    </div>

  </header>
  <!-- header end -->


  <!-- Main start -->
  <main>


    <div class="content">
        <div class="container">
            <div class="my_card_orders">
                <h3>Моя Корзина</h3>
            </div>

            <div class="total_products_price">
                <p class="total_products_cart"><span>Общее количество: </span> 2</p>
                <p class="total_price_cart"><span>Общая стоимость: </span> 600</p>
            </div>
            <ul class="list_card_orders ">

                <li class="order  order_cart">
                  <div class="info">
                    <a href="#">
                    <img class="order_cart_img" src="../image/goods/Redmi.png" alt="">
                    </a>
                    <div class="info_order">
                        <h4 class="product_title">Смартфон Samsung GalaxyA52 White 128Gb</h4>
                        <div class="color_quantity">
                            <div class="color"><p>Цвет:</p> <span>Белый</span> </div>

                            <div class="quantity"><p>Кол-во:</p> <span>2</span>

                                <div class="quantity_arrow">
                                    
                                    <a href="#">
                                        <img data-product="id" data-action="add" class="chg-quantity update-cart"
                                             src="../image/icons/arrow-up.png" alt="">
                                    </a>
                                    
                                    <a href="#">
                                        <img data-product="id" data-action="remove" class="chg-quantity update-cart"
                                             src="../image/icons/arrow-down.png" alt="">
                                    </a>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                  </div>
                    <div class="price_cart">
                    <p class="product_price_title">Стоимость</p>
                    <p class="product_price">300 000</p>
                    </div>

                    <div class="data_add">
                    <p class="product_data">Дата добавления</p>
                    <div class="data"><img src="../image/icons/clarity_date-line.svg" alt=""> <span>12.06.2023</span>
                    </div>
                    </div>
                    <div class="price_cart">
                    <p class="product_price_title">Итого</p>
                    <p class="product_price">600 000</p>
                    </div>

                </li>

            </ul>

            <div class="order_btns">
            <a href="{% url 'clear_cart' %}" class="btn_order">Очистить корзину</a>
            <a href="{% url 'checkout' %}" class="btn_order">Оформить заказ</a>
            </div>

        </div>
    </div>

</main>
  <!-- Main end -->

  <!-- Footer start -->
  <footer>
    <div class="footer_info">
      <div class="container">
        <div class="footer__block">

          <div class="text_footer">
            <h3 class="footer_title">Интернет-магазин</h3>
            <ul class="footer_list">
              <li><a href="" class="footer_link">О нас</a></li>
              <li><a href="" class="footer_link">Адрес магазинов</a></li>
              <li><a href="" class="footer_link">Подарочные сертификаты</a></li>
              <li><a href="" class="footer_link">Торговые марки</a></li>
              <li><a href="" class="footer_link">Каталог</a></li>
            </ul>
          </div>
          <div class="text_footer">
            <h3 class="footer_title">Покупательский сервис</h3>
            <ul class="footer_list">
              <li><a href="" class="footer_link">Покупка в рассрочку</a></li>
              <li><a href="" class="footer_link">Возврат товара</a></li>
              <li><a href="" class="footer_link">Гарантия на товары</a></li>
              <li><a href="" class="footer_link">Сервисный центр</a></li>
            </ul>
          </div>

          <div class="text_footer">
            <h3 class="footer_title">Контакты</h3>
            <ul class="footer_list">
              <li>
                <div class="footer_contact">
                  <span class="footer_link"> г. Ташкент, Шота Руставели 150</span>
                  <a href="" class="footer_link">+998 71 200 99 71 </a>
                  <span class="footer_link">Пн-Вс 9.00 - 18.00</span>
                </div>
              </li>
              <li><a href="" class="footer_link">admin@digitalsrore.uz</a></li>
              <li><a href="" class="footer_link">Посмотреть на карте</a></li>

            </ul>
          </div>

          <div class="text_footer">
            <h3 class="footer_title">Способ оплаты</h3>
            <ul class="footer_list_pay">
              <li>
                <a href="" class="footer_pay">
                  <img src="../image/pyment_img/Rectangle 362.png" alt="">
                </a>
              </li>
              <li><a href="" class="footer_pay"><img src="../image/pyment_img/Rectangle 363.png" alt=""></a></li>
              <li><a href="" class="footer_pay"><img src="../image/pyment_img/Rectangle 364.png" alt=""></a></li>
              <li><a href="" class="footer_pay"><img src="../image/pyment_img/Rectangle 365.png" alt=""></a></li>

            </ul>
          </div>

        </div>
      </div>
    </div>


  </footer>


  <!-- Footer end -->


  
  <script src="../js/script.js"></script>
</body>

</html>