{% extends 'base.html' %}
{% load digitalstore_tags %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block slider %}
{% endblock slider %}


{% block main %}
<main>
    <div class="content">
        <div class="container">
            <h2 class="content__title">Товары</h2>
            <div class="content__cards">
                {% for category in categories %}
                    {% for brand in category.brand.all %}
                        {% for product in brand.products.all %}
                            {% include 'digitalstore1/components/_card.html' %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}


            </div>


        </div>


    </div>

</main>
{% endblock main %}