{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block slider %}
{% endblock slider %}

{% block main %}

<div class="content">
    <div class="container">
        <h2 class="login_title">Регистрация</h2>

        <div class="login_content">
            <div class="login">
                <div class="login_form">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ register_form.username }}
                        </div>
                        <div class="form-group">
                            {{ register_form.first_name }}
                        </div>
                        <div class="form-group">
                            {{ register_form.last_name }}
                        </div>
                        <div class="form-group">
                            {{ register_form.email }}
                        </div>
                        <div class="form-group">
                            {{ register_form.password1 }}
                        </div>
                        <div class="form-group">
                            {{ register_form.password2 }}
                        </div>
                        <div class="form-group">
                            {{ register_form.phone }}
                        </div>
                        <div class="form-group">
                            {{ register_form.photo }}
                        </div>

                        <button class="btn btn-register" type="submit">Зарегистироваться</button>
                    </form>
                </div>
            </div>


            <div class="register_info">
                <h2 class="first_visit">Уже есть аккаунт?</h2>
                <p>Если Вы уже проходили регистрацию, войдите через Ваш аккаунт или восстоновите свой доступ. </p>
                <a href="{% url 'login' %}" class="btn-to_login">Войти</a>

            </div>

        </div>
    </div>
</div>
{% endblock main %}