{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block slider %}
{% endblock slider %}


{% block main %}

<main class="main">
    <div class="container ">
        <div class="size">
            <h4 class="text-center login_title" style="margin-top: 20px; text-center;">Ваша оплата прошла успешно</h4>
            <p class="text-center login_title" style="text-center;">Ваш заказ будит доставлен по указанному вами Адресу в теченнии 2 дней.</p>
        </div>
    </div>
</main>

{% endblock main %}