{% load static %}
<div class="header_baner">
    <div class="header_baner-item">
        <swiper-container class="mySwiper" pagination="true">
            <swiper-slide>
                <img class="banner" src="{% static 'digitalstore1/js/image/advertising/Group 539.png' %}" alt="">
                <div class="container height_baner">
                    <div class="banner_text">
                        <p>Все, что вы любите – неповторимо</p>
                        <h2>Samsung Galaxy A72</h2>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <img class="banner" src="{% static 'digitalstore1/js/image/advertising/Group 539.png' %}" alt="">
                <div class="container height_baner">
                    <div class="banner_text">
                        <p>Все, что вы любите – неповторимо</p>
                        <h2>Samsung Galaxy A72</h2>
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>

    </div>

</div>