{% load static %}
{% load digitalstore_tags %}
<div class="detail_product">
    <div class="product_img">
        <img class="product_img-img" src="{{ product.get_first_photo }}" alt="">
    </div>
    <div class="product_info">
        <h2 class="title__product">{{ product.title }}</h2>
        <div class="price_color">
            <div class="price_product">
                <p>Цена:</p>
                <h3>{{ product.price }} сум</h3>
            </div>
            <div class="color_product">
                <p>Цвет:</p>
                <div class="box_color">
                    {% get_colors_product product.modal product.category as colors %}
                    {% for color in colors %}
                    <a href="{% url 'product_color' color product.category product.modal %}" class="color_squer"
                       style="background: {{ color }}; "></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="list_button">
            <a href="" class="btn btn_cage1"><img src="{%  static 'digitalstore1/js/image/icons/cage.svg' %}" alt="">
                <span>Вкорзину</span> </a>

            <a href="" class="btn btn_cage2"><span>Купить в рассрочку</span> </a>

        </div>
    </div>
</div>